<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="..\style.css">
    <title>Login</title>
</head>
<body>
    <header class="header">
      <img class="header__img" src="..\assets\logo-platziv.png" alt="Platzilogo" tabindex="0">
    
    </header>
    <section class="login">
        <section class="login__container">
            <h2 tabindex="0">Iniciar sesión</h2>
            <form class="login__container--form">
                <input arial-label="Correo" class="input" type="text" placeholder="Correo">
                <input arial-label="Password"  class="input" type="password" placeholder="Password">
                <button class="button">Iniciar sesión</button>
                <div class="login__container--remember-me">
                    <label for="">
                        <input type="checkbox" name="" id="cbox1" value="Checkboxx"> Recuerdame
                    </label>
                    <a href="/">Olvidé mi contraseña</a>
                </div>
            </form>
            <section class="login__container--social-media">
                <div><img src="..\assets\icons8-logo-de-google-30.png" alt="Google">Inicia sesion con Google</div>
                <div><img src="..\assets\icons8-twitter-30.png" alt="Twitter">Inicia sesion con Twitter</div>
            </section>
            <p class="login__container--register">No tienes ninguna cuenta <a href="/">Registrate</a></p>
            
        </section>
    </section>
<footer class="footer">
    <a href="/">Terminos de uso</a>
    <a href="/">Declaración de privacidad</a>
    <a href="/">Centro de Ayuda</a>
</footer>

</body>
</html>